* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu";
  font-size: 16px;
  color: #1b1c1b;
}

/* Hero */

/* Body */

.title {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}

.content {
  padding: 0 4rem;
  line-height: 1.5rem;
  margin-bottom: 20px;
}
